
/* Background */

Background{
position: absolute;
width: 1488px;
height: 1024px;
left: -24px;
top: 0px;

background: url(dominik-lange-ZUvF7qEIcVI-unsplash.jpg);
}

#location{
    position: absolute;
width: 500px;
height: 169px;
left: 50px;
top: 400px;
font-size: 20px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 144px;
line-height: 169px;
/* identical to box height */

letter-spacing: 0.05em;

color: #FFFFFF;

}

h1{
font-display: white;
color: white;
width: 301px;
height: 42px;
top:41px;
left:120px;
}

body{
    background-color: rgb(41, 43, 110);
}

#date{
    color: white;
}

.holder{
    color: black;
}
#app{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    height:100vh;
    background: #0035bb;
    color: #ffffff;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

label{
    display:flex;
    font-size: 30px;
}

button{
    width: 200px;
    height: 50px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}

.holder{
    color: black;
}

.entry{
    background: rgba(14, 27, 100, 0.4);
}

.location{
    color: white;
    background: rgba(14, 27, 100, 0.4);
}

.weather entry{
color: black
}
#entryHolder{
    color: black;
    }

    #TH{
        position: absolute;
        width: 75px;
    height: 67px;
    left: 1103px;
        top: 442px;
    color: white;
    font-size: 25px;

    }
    #TL{
        position: absolute;
        width: 75px;
    height: 120px;
    left: 500px;
        top: 442px;
    color: white;
    font-size: 25px;

    }
.title{
    position: absolute;
    width: 75px;
    height: 120px;
    left: 100px;
    top: 442px;
color: white;
font-size: 25px;
}